.card{

    border-radius: 30px;
    box-shadow: 0 1px 8px rgb(65, 63, 63);
    color: rgb(87, 100, 240);
    background-image: -moz-linear-gradient(pink,blue);
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
    }

    .text-center{

        font-size: 25px;
    }
    
    body{
        background-color: rgb(197, 197, 197);
    }

    td{
        font-size: 15px;


        
    }